framework: netstandard2.0, net471, netcoreapp3.1
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                       >= 4.6.2 lowest_matching: true

nuget FSharp.Data.Adaptive ~> 0.0.25 

nuget Aardvark.Base                         ~> 5.0.10
nuget Aardvark.Base.FSharp                  ~> 5.0.10
                                            
nuget Aardvark.Base.Rendering               ~> 5.0.6
nuget Aardvark.SceneGraph                   ~> 5.0.6
nuget Aardvark.SceneGraph.IO                ~> 5.0.6
                                                
nuget Aardvark.Application.Slim             ~> 5.0.6
nuget Aardvark.Application.Slim.GL          ~> 5.0.6
nuget Aardvark.Application.Slim.Vulkan      ~> 5.0.6
                                            
nuget Aardvark.Service                      ~> 5.0.2
nuget Aardvark.UI                           ~> 5.0.2
nuget Aardvark.UI.Primitives                ~> 5.0.2

nuget Adaptify.MSBuild ~> 0.0.46

nuget Aardium                               ~> 1.0.30

github aardvark-platform/aardvark.rendering  src/Application/Aardvark.Application.Utilities/FsiHelper.fsx

group Build
framework: netstandard2.0
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v5
